:root
{
    --cor_principal: #463334;
    --cor_secundaria: #251b1c;
    --cor_terciaria: #b2bb64;
}

@font-face {
    font-family: 'fonte_principal';
    src: url("Fontes/blasphemous.ttf");
}

*
{
    padding: 0px;
    margin: 0px;
    font-family: 'fonte_principal';
    line-height: 1.2;
    letter-spacing: 2px;
}

b{
    font-weight: normal;
    color: var(--cor_terciaria);
    text-transform: uppercase;
    text-shadow: -2px 2px 6px black
}

#map
{
    height: 100vh;
    width: 100%;
    background-color: black;
}

div .leaflet-bottom
{
    display: none;
}

.mark
{
    opacity: 0.5;
}

div .leaflet-popup-content-wrapper{
    border-radius: 10px;
    color: white;
    padding: 0px;
}



div .leaflet-popup-tip, div .leaflet-popup-content-wrapper
{
    border: 1px solid var(--cor_terciaria);
    background-color: var(--cor_secundaria);
}

div .leaflet-popup-content
{
    margin: 0px;
    border-radius: 0px;
}

div .popup
{
    margin: 0px;
    font-family: 'fonte_principal';

    & img
    {
        width: 100%;
        height: fit-content;
        max-height: 200px;
        border-radius: 10px 10px 0px 0px;
    }

    
    & .div_title
    {
        width: 100%;
        text-align: center;
        letter-spacing: 5px;

        & span
        {
            font-size: 16pt;
            text-shadow: -2px 2px 6px black
        };
    };

    & .div_desc
    {
        font-size: 12pt;
        margin: 0px 0px 0px 0px;
        text-align: justify;
        padding: 5px;
        hyphens: auto;
        line-height: 1.8;
        letter-spacing: 2px;
        background-color: var(--cor_principal);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-indent: 1em;
    }
}

div .div_checkbox
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    border-radius: 0px 0px 10px 10px;

    & input
    {
        display: none;
        scale: 1.5;
        margin: 0px 5px;
    };
    
    & label::before
    {
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid white;
        margin-right: 10px;
    }

    & input:checked + label::before
    {
        background: url(imagens/Icons/Checkbox_check.png) center;
        background-size: contain;
        color: var(--cor_terciaria);
        border: 2px solid var(--cor_terciaria);
    }

    & label
    {
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 14pt;
        font-weight: bolder;
        text-transform: uppercase;
    }

    & input:checked + label
    {
        color: var(--cor_terciaria);
    }
}

#container_filter_menu
{
    display: flex;
    align-items: end;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    height: fit-content;
    width: fit-content;
    margin: 10px;

    & #button_filter_menu
    {
        display: none;
        position: absolute;
        z-index: 1001;
        width: 40px;
        height: 40px;
        top: -40px;
        right: -20px;
        transform: translate(0%,100%);
        clip-path: polygon(
            50% 0%,
            50% 50%,
            0% 0%
        );
        background-color: var(--cor_terciaria);
        cursor: pointer;
        animation: bounce 3s linear infinite;
    }

    
    & .filter_menu
    {
        z-index: 1000;
        height: fit-content;
        width: 50vw;
        min-width: 316px;
        max-width: 360px;
        border-radius: 10px;
        color: white;
        border: 1px solid var(--cor_terciaria);

        & #filter_img
        {
            display: none;
        }

        & #expanded_container
        {
            
            & h3
            {
                text-align: center;
                padding: 10px;
                border-bottom: 1px solid black;
                background-color: #251b1ce8;
                font-size: 18pt;
                font-weight: bold;
                border-radius: 10px 10px 0px 0px;
            }

            & #layers_container
            {
                padding: 10px;
                background: var(--cor_principal) ;
                background-color: #463334e8;
                font-size: 14pt;
                border-radius: 0px 0px 10px 10px;
            
                
                & #filter_controls
                {
                    display: flex;
                    justify-content: space-around;
                    margin: 5px 0px 5px 0px;

                    & .controls_link
                    {
                        color: white;
                        text-decoration: none;
                        font-family: 'fonte_principal';

                    }
                    
                    & input:not(:checked)+.controls_link
                    {
                        opacity: 0.5;
                        cursor: pointer;
                    }

                }

                & input
                {
                    display: none;
                    scale: 1.5;
                    margin: 0px 5px;
                }
                
                & .itens
                {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    min-height: 30px;
                    max-height: 50px;

                    & label
                    {
                        display: flex;
                        align-items: center;
                        font-size: 14pt;
                        opacity: 0.5;
                        cursor: pointer;
                    }

                    & input:checked + label, input:checked ~ .counter_container
                    {
                        opacity: 1;
                    }

                    & .counter_container
                    {
                        display: flex;
                        width: 100px;
                        opacity: 0.5;
                        transform: translate(0%, 10%);

                        & h5
                        {
                            display: flex;
                            align-items: center;
                            font-weight: normal;
                        }

                        & .counter_bar
                        {
                            height: 8px;
                            width: 80px;
                            content: "";
                            border: 1px solid white;
                            border-radius: 20px;
                            opacity: 0.5;
                            margin: 0px 0px 0px 5px;

                            & span
                            {
                                content: "";
                                background-color: var(--cor_terciaria);
                                width: 50%;
                                height: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    & .filter_menu_hidden
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        margin: 0px;
        background: var(--cor_principal);
        border: 3px solid var(--cor_terciaria);
        border-radius: 10px;
        cursor: pointer;

        & #filter_img
        {
            display: flex;
            width: 35px;
            height: 35px;
        }

        & #expanded_container
        {
            display: none;
        }

    }
}

@keyframes bounce
{
    0%,50%
    {
        top: -40px;
        right: -20px;
    }
    20%
    {
        top: -45px;
        right: -25px;
    }
}

@keyframes text_slide {
    0%
    {
        transform: translateX(00%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}


